/* Display larger thumbnail on admin/items/show.php */
.admin-thumb:first-child {
    width: 264px;
    height: 100%;
}

.admin-thumb {
    width: 60px;
    height: 80px;
}

.admin-thumb.panel {
    border-top: 0;
    padding: 4px 4px 4px 4px;
    background-color: transparent;
}

.admin-thumb.panel img {
    padding-bottom: 0;
}

#item-images .admin-thumb {
    margin: 0 8px 8px 0;
}

#item-images .admin-thumb:nth-of-type(4) {
    /* Override Omeka styling of the 4th thumb */
    margin: 0 8px 8px 0;
}

/* Hide the Collection dropdown on admin/items/edit.php */
#collection-form {
    display:none;
}

/* Hide the Collection panel on admin/items/show.php */
.collection.panel {
    display:none;
}

/* Hide the Dublin Core description that appears above the elements on admin/items/edit.php */
#dublin-core-description.element-set-description {
    display:none;
}

/* Hide the Dublin Core metadata description on each element on admin/items/edit.php */
#dublin-core-metadata fieldset.set div div.inputs.five.columns.omega p.explanation {
    display:none;
}

/* Reduce the spacing of elements on admin/items/show.php */
.element .element-text:after {
    margin: 8px 0;
}
.element-text p {
    margin: 0 0 4px 0;
}

/* Reduce the spacing of elements on admin/items/edit.php */
.field label {
    margin: 0 0 2px 0;
    min-width: 100px;
}
.field select {
    margin-bottom: 2px;
}
.inputs {
    margin: 0 0 12px 0;
}
.inputs .input-block {
    margin: 0 0 0 0;
}

/* Hide the header on admin/items/edit.php because it shows Omeka item number */
.items.edit h1#content-heading.section-title {
    visibility: hidden;
}

/* Display larger thumbnail on admin/search results */
.image img {
    width: 120px;
}

/* Display larger thumbnail on admin/items/browse.php */
.items.browse a.item-thumbnail {
    width: 120px;
}

/* The user name of the person who created an item on admin/items/show.php */
.item-owner {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Hide the display of Featured on admin/items/show.php */
.public-featured.panel p:nth-child(2) {
    display:none;
}

#related-articles {
    color: #C35402;
    font-size: 16px;
    margin-top: 24px;
}

.error {
    color: #ff0000;
    font-size: 18px;
}
